@model IEnumerable<MovieList.Models.Genre>

@{
    ViewData["Title"] = "Movie Genres";
}

<header class="jumbotron">
    <h1>Movie Genres</h1>
</header>

<p>
    <a asp-action="Create">Create New Genre</a>
</p>

@if (ViewBag.NoGenresMessage != null)
{
    <div class="alert alert-warning">
        @ViewBag.NoGenresMessage
    </div>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.GenreId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.GenreId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.GenreId">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}